/* color variables */
:root {
  --heading: #ff7a32;
  --background: #F7E0D4;
  --element2: #faeae0;
  --element: #347B98;
  --icon: #1489B8;
  --text: #092834;
}

/* home symbol styling  */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 64
}

a.home {
  text-decoration: none;
}

a.home:visited {
  color: var(--icon);
}

body {
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  color: var(--text);
  background-color: var(--background);
}

h1, h2, h3 {
  font-family: Roboto, Arial, Helvetica, serif;
  color: var(--heading);
}

.indextitle, 
.recipetitle {
  color: var(--heading);
  font-variant: small-caps;
  letter-spacing: 1px;
  text-align: center;
  font-size: 64px;
}

.foodpic {
  display: block;
  margin: 40px auto;
  width: 50vw;
}

ul.main li {
  list-style-type: none; 
}

li {
  line-height: 1.5em;
}

ul li {
  line-height: 2em;
}

ol li {
  line-height: 3em;
}

section {
  width: 50vw;
  border-radius: 4px;
  padding: 0.1vw 0.5vw 0.5vw;
}

.sectiontitle {
  letter-spacing: 1px;
  font-variant: small-caps;
  font-weight: 1000;
  color: var(--heading);
}

.desc,
.steps{
  display: block;
  margin: 10px auto;
  background-color: var(--element);
  color: white;
}

.ingr {
  display: block;
  margin: 10px auto;
  background-color: var(--element2);
}


  
