:root {
  --heading: #FC600A;
  --background: #F7E0D4;
  --element: #347B98;
  --icon: #1489B8;
  --text: #092834

body {
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  color: var(--text);
  background-color: var(--background):
}

h1, h2, h3 {
  font-family: Roboto, Arial, Helvetica, serif;
}

.recipetitle {
  color: var(--heading);
  font-variant: small-caps;
  letter-spacing: 1px;
}

ul.main li {
  list-style-type: none; 
}

li {
  line-height: 1.5em;
}

ul li {
  line-height: 2em;
}

ol li {
  line-height: 3em;
}

.desc {
  background-color: var(--element);
}

.ingr {
  background-color: var(--background);
}

.steps {
  background-color: var(--element);
}
  
