* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* color variables */
:root {
  --heading: #ff7a32;
  --background: #F7E0D4;
  --element2: #faeae0;
  --element: #347B98;
  --icon: #1489B8;
  --text: #092834;
}

/* home symbol styling  */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 64
}

a.home {
  text-decoration: none;
}

a.home:visited {
  color: var(--icon);
}

main.index {
  text-align: center;
}

body {
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  color: var(--text);
  background-color: var(--element2);
  width: 100%;
}

h1, h2, h3 {
  font-family: Roboto, Arial, Helvetica, serif;
  color: var(--heading);
}

.indextitle, 
.recipetitle {
  color: var(--heading);
  font-variant: small-caps;
  letter-spacing: 1px;
  text-align: center;
  font-size: min(64px, 8vw);
  margin-bottom: 20px;
}

.recipetitle {
  background-color: var(--element);
  padding: max(3vw, 0.5em);
  margin: 0 auto;
  width: 65vw;
  border-start-start-radius: 20px;
  border-start-end-radius: 20px;
}

hr {
  box-sizing: border-box;
  margin: auto;
  width: 50vw;
  color: var(--element);
  border-radius: 100%;
  border-width: 2px;
}

.foodpic {
  display: block;
  margin: 0 auto;
  width: 65vw;
}

.main a {
  box-sizing: border-box;
  width: 6em;½
  background-color: var(--icon);
  padding: 1em 2em;
  color: white;
  margin: 0.5em 1em;
  text-decoration: none;
  border-radius: 5px;
}

ul.main {
  margin: 40px 25vw;
  padding-left: 0px;
  background-color: var(--background);
  width: 50vw;
  height: 50vw;
  border-radius: 30px;
}

ul.main li {
  list-style-type: none; 
  display: inline-block;
  margin-top: 50px;
}

.ingr li {
  line-height: 2em;
}

.ingr ul,
.steps ol {
  padding-left: 1em;
}

.steps li {
  line-height: 1.5em;
  margin: 2em 0px;
}

section {
  width: 65vw;
  padding: 0.1vw 0.5vw 0.5vw;
}

.sectiontitle {
  letter-spacing: 1px;
  font-variant: small-caps;
  font-weight: 1000;
  color: var(--heading);
  margin: 0.5em 0 1em 0;
}

.ingr .sectiontitle {
  color: var(--icon);
}

.desc p {
  margin-bottom: 10px;
}


.desc,
.steps {
  margin: 0 auto;
  background-color: var(--element);
  color: white;
  padding: 10px;
}

.ingr {
  display: block;
  margin: 0 auto;
  padding: 10px;
  background-color: var(--background);
}

.steps {
  margin-bottom: 15%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
  
